* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body,html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
button,
input,
select { 
    -webkit-appearance-: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
button,
.btn,
select { 
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #4e73df;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}
ul {
    margin: 0;
    padding: 0
}
p {
    color: grey;
    font-size: 16px;
    line-height: 25px;
    opacity: .6;
    
}
.btn,
button,
.actionbg,
input {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}.btn:hover,
button:hover { /*di ko alam*/
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.w3l-mockup-form { /*background design*/
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
    padding: 40px 40px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.reg-container {
    max-width: 600px;
    margin: 0 auto;
}

.w3l_form { /*leftside of form picture*/
    padding: 0px;
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    background: #357fce;
    padding: 100px 50px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wthree { /*userpass background and color*/
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    box-sizing: border-box;
    padding: 3em 3.5em;
    /* background:  rgb(11, 50, 95); */
    background:  #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 5);
    border-radius: 8px;
}
.main-mockup { /*userpass placed right side*/
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 40px 0;
}
.w3l-mockup-form .alert-close { /*X BUTTON*/
    cursor: pointer;
    height: 35px;
    width: 35px;
    line-height: 35px;
    position: absolute;
    right: -5px;
    top: -5px;
    background: #4e73df;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}
.w3l-mockup-form form { /*userpass spacing from login header*/
    margin-top: 30px;
    margin-bottom: 30px;
}
.create_acc { /*create account allignment*/
    text-align: center;
}
.forg_pass {
    margin-top: 5px;
    margin-bottom: 15px; 
    display:flex;
    justify-content: right;
}
.google-captcha{
    display:flex;
    justify-content: center;
}
.google-captcha{
    padding: 10px 0px;
} 
.google-captcha-reg{
    display:flex;
    justify-content: center;
}
.social-icons {
    text-align: center;
}
.w3l-mockup-form h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #3b3663;
}
.w3l-mockup-form h2 { /*H2 characters used inside the userpass box*/
    display: inline-block;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #6b6b6b;
}
.w3l-mockup-form .mb_number ,.name, .email, .password{ /*input box design name and email*/
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #6b6b6b;
    padding: 14px 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #e5e5e5;
    transition: 0.3s all ease;
}
.w3l-mockup-form .reg-input-form {
    display: flex;
    gap: 10px; /* Add some space between the inputs */
}

.w3l-mockup-form .otp_box, .email_changepass { /*input box design in forgot_pass.php*/
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #6b6b6b;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #e5e5e5;
    transition: 0.3s all ease;
}
input[type="date"] {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by GX browser */
    color: #999;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.links_forg_pass{
    margin-top:-15px;
    margin-bottom: 15px;
    display: flex; 
    justify-content: space-between;
}
.links_forg_pass .links_change_email, .links_rst_otpcode, .rsnd_otpcode{
    background: none; 
    border: none; 
    padding: 0; 
    font: inherit;
    cursor: pointer; 
    text-decoration: none;
    color: #00e1ff;
}
.w3l-mockup-form input:focus {/*userpass input box highlight color*/
    border-color: #4e73df;
}
.w3l-mockup-form button { /*login button design and color*/
    font-size: 18px;
    color: #fff;
    width: 100%;
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    border: none;
    padding: 14px 15px;
    font-weight: 500;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.w3l-mockup-form button:hover { /*highlight color in hovering button*/
    background: #51d6ffb6;
}
.login_input_pass {
    position: relative;
}
.login_input_pass i{
    position: absolute;
    right: 17px;
    top: 50%;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
    transform: translateY(-50%);
}
.first_input_pass{
    position: relative;
    
}
.first_input_pass i{
    position: absolute;
    right: 17px;
    top: 40%;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
    transform: translateY(-50%);
}
.pass_container{
    position: relative;
}
.guidance-text {
    display: none;
    position: absolute;
    left: -315px;
    top: 0;
    background-color: #be4b49;
    border: 1px solid #9e3e3d;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
  }
  .guidance-arrow {
    position: absolute;
    right: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #9e3e3d;
  }
  
  .guidance-arrow::after {
    content: "";
    position: absolute;
    right: 1px;
    top: -9px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #be4b49;
  }
  
 

.pass_container .password, .confirm-password{
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #a6a6a6;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #e5e5e5;
    transition: 0.3s all ease;
    padding-right: 55px;
}
.pass_matching{
    display: flex;
    align-items: center;
    margin-top: -8px;
    margin-bottom: 8px;
    
}
.pass_matching .not_match{
    color: #a6a6a6;
    font-size: 18px;
    display: none;
    margin-right: 8px;
}
.match_or_not{
    font-size: 18px;
    font-weight: 400;
    color: #a6a6a6;
    display: none;
}
.pass_strngth_list .requirement-list-title{
    color: #4e73df;
}
.requirement-list {
    margin-top: 5px;
}
.requirement-list li {
    font-size: .9rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
  .requirement-list li i {
    width: 20px;
    color: #a6a6a6;
    /* color: #aaa; */
    font-size: 0.6rem;
}
.requirement-list li.valid i {
    font-size: 1.2rem;
    color: #4285F4;
}
  .requirement-list span {
    margin-left: 5px;
    color: #a6a6a6;
}
  .requirement-list li.valid span {
    color: #999;
}
.hidden {
    display: none;
}
button[disabled]{
    pointer-events: none;
    opacity: 0.6;
}
.alert {    /*alert class*/
    padding: 1rem;
    border-radius: 5px;
    color: white;
    margin: 1rem 0;
}

.alert-success {
    background-color: #42ba96;
}

.alert-danger {
    background-color: #fc5555;
}

.alert-info {
    background-color: #2E9AFE;
}
.alert-warning {
    background-color: #ff9966;
}
@media (max-width:568px) {
    .w3l-mockup-form h1 {
        font-size: 30px;
    }

    .w3l-mockup-form .main-mockup {
        margin: 30px 0;
    }

    .content-wthree {
        padding: 2.5em;
    }
}

@media (max-width: 415px) {
    .w3l-mockup-form {
        padding: 40px 30px;
    }

}


@media (max-width:736px) {
    .w3l-mockup-form .main-mockup {
        flex-direction: column;
    }

    .w3l_form {
        order: 2;
        padding: 50px;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .content-wthree {
        order: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}
@media (max-width:568px) {
    .w3l-mockup-form h1 {
        font-size: 30px;
    }

    .w3l-mockup-form .main-mockup {
        margin: 30px 0;
    }

    .content-wthree {
        padding: 2.5em;
    }
}

@media (max-width: 415px) {
    .w3l-mockup-form {
        padding: 40px 30px;
    }

}
@media (max-width:384px) {
    .w3l-mockup-form {
        padding: 30px 15px;
    }

    .content-wthree {
        padding: 2em;
    }

    .w3l-mockup-form h1 {
        font-size: 28px;
    }

    .w3l-mockup-form h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .copyright p {
        font-size: 16px;
    }
}